* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background: rgb(39, 39, 39);
}
.btn {
	border: 3px solid rgb(226, 90, 27);
	border-radius: 9px;
	background: none;
	padding: 10px 20px;

	border-radius: 9px;
	cursor: pointer;
	font-size: 45px;
	font-family: sans-serif;
	transition: 0.4s;
	margin: 18px;
}

.btn:focus {
	outline: none;
}

.btn:hover {
	background: rgb(226, 90, 27);
	transition: 0.4s;
}

.btn a {
	color: rgb(255, 204, 0);
	text-decoration: none;
}
.btn a:hover {
	color: rgb(26, 26, 26);
}
