<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />
		<title>Riot API</title>
	</head>
	<body>
		<header>
			<nav class="navbar">
				<a href="/" class="main"
					>RIOT <span class="title-color">API</span></a
				>
			</nav>
		</header>
		<h1>CODES</h1>
		<h3><%= "Name: " + nameID %></h3>
		<h3><%= "Provider ID: " + provID %></h3>
		<h3><%= "Tournament ID: " + tourID %></h3>
		<div class="form">
			<form action="/riot/tournament/">
				<input
					class="search-text"
					type="text"
					name="sumsearch"
					id="search-bar"
					placeholder="Summoners IDs"
				/>
				<input
					class="search-text"
					type="text"
					name="mapsearch"
					id="search-bar"
					placeholder="Map Type"
				/>
				<input
					class="search-text"
					type="text"
					name="metasearch"
					id="search-bar"
					placeholder="MetaData"
				/>
				<input
					class="search-text"
					type="text"
					name="picksearch"
					id="search-bar"
					placeholder="Pick Type"
				/>
				<input
					class="search-text"
					type="text"
					name="specsearch"
					id="search-bar"
					placeholder="Spectator Type"
				/>
				<input
					class="search-text"
					type="text"
					name="teamsearch"
					id="search-bar"
					placeholder="Team Size"
				/>
				<button type="submit" class="btn">SEND</button>
			</form>
		</div>
	</body>
</html>
