<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css" />
		<title>Riot API</title>
	</head>

	<body>
		<header>
			<nav class="navbar">
				<a href="/" class="main"
					>RIOT <span class="title-color">API</span></a
				>
			</nav>
		</header>
		<div>
			<h1>There is no data for the search</h1>
		</div>
		<form action="/riot/">
			<div class="form-group">
				<input
					class="search-text"
					type="text"
					name="search"
					id="search-bar"
					placeholder="Search a Summoner"
				/>
				<button type="submit" class="btn"><a>Search</a></button>
			</div>
		</form>
		<div class="container">
			<button type="submit" class="btn champions">
				<a href="/riot/champions">Champions</a>
			</button>
		</div>
	</body>
</html>
