<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />
		<title>Riot API</title>
	</head>

	<body>
      <header>
			<nav class="navbar">
				<a href="/" class="main"
					>RIOT <span class="title-color">API</span></a
				>
			</nav>
		</header>
		<div>
			<h1 class="title">Search a Summoner</span></h1>
		</div>
		<form action="/riot/">
			<div class="form-group">
				<input
					class="search-text"
					type="text"
					name="search"
					id="search-bar"
					placeholder="Search a Summoner"
				/>
				<button type="submit" class="btn"><a>Search</a></button>
			</div>
		</form>
		<div class="container">			
			<img src="<%= icon+sumIcon+iconExt %> " class="img"/>
			<h1><%= name %></h1>
			<h2>Summoner Level: <%= sumLevel %> </h2>				
			<div class="container-match">
				<table id="table-hist">
					<thead>
						<tr>
							<th colspan="9">Match History </th>
						</tr>
						
					</thead>
					<body>
						<th colspan="9"><%= `Duration: ${min}:${sec}` %></th></th></tr>
						<tr>
							<td><img class="champ-icon" src="<%= champIconURL+champName[0]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/> </td>
							<td class="sum-name-left"><%= summonerName[0] %> </td>
							<td><span class="kill-color"><%= kills[0]%></span> / <span class="death-color"><%= deaths[0] %></span> / <span class="assist-color"><%= assists[0] %></span> </td>
							<td>
								<div>
									<img class="item" src="<%= URLitem+item0[0]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item1[0]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item2[0]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item3[0]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
								</div>
								<div>
									<img class="item" src="<%= URLitem+item4[0]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item5[0]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item6[0]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
								</div>
							</td>
							<td></td>
							<td>
								<div>
									<img class="item" src="<%= URLitem+item0[5]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item1[5]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item2[5]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item3[5]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
								</div>
								<div>
									<img class="item" src="<%= URLitem+item4[5]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item5[5]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item6[5]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
								</div>
							</td>
							<td><span class="kill-color"><%= kills[5]%></span> / <span class="death-color"><%= deaths[5] %></span> / <span class="assist-color"><%= assists[5] %></span> </td>
							<td class="sum-name-right"><%= summonerName[5] %> </td>
							<td><img class="champ-icon" src="<%= champIconURL+champName[5]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/> </td>													
						</tr>
						<tr>
							<td><img class="champ-icon" src="<%= champIconURL+champName[1]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/> </td>
							<td class="sum-name-left"><%= summonerName[1] %> </td>
							<td><span class="kill-color"><%= kills[1]%></span> / <span class="death-color"><%= deaths[1] %></span> / <span class="assist-color"><%= assists[1] %></span> </td>
							<td>
								<div>
									<img class="item" src="<%= URLitem+item0[1]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item1[1]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item2[1]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item3[1]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
								</div>
								<div>
									<img class="item" src="<%= URLitem+item4[1]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item5[1]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item6[1]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
								</div>
							</td>
							<td></td>
							<td>
								<div>
									<img class="item" src="<%= URLitem+item0[6]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item1[6]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item2[6]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item3[6]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
								</div>
								<div>
									<img class="item" src="<%= URLitem+item4[6]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item5[6]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item6[6]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
								</div>
							</td>
							<td><span class="kill-color"><%= kills[6]%></span> / <span class="death-color"><%= deaths[6] %></span> / <span class="assist-color"><%= assists[6] %></span> </td>
							<td class="sum-name-right"><%= summonerName[6] %> </td>
							<td><img class="champ-icon" src="<%= champIconURL+champName[6]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/> </td>						
						</tr>
						<tr>
							<td><img class="champ-icon" src="<%= champIconURL+champName[2]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/> </td>
							<td class="sum-name-left"><%= summonerName[2] %> </td>
							<td><span class="kill-color"><%= kills[2]%></span> / <span class="death-color"><%= deaths[2] %></span> / <span class="assist-color"><%= assists[2] %></span> </td>
							<td>
								<div>
									<img class="item" src="<%= URLitem+item0[2]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item1[2]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item2[2]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item3[2]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
								</div>
								<div>
									<img class="item" src="<%= URLitem+item4[2]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item5[2]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item6[2]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
								</div>
							</td>
							<td></td>
							<td>
								<div>
									<img class="item" src="<%= URLitem+item0[7]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item1[7]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item2[7]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item3[7]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
								</div>
								<div>
									<img class="item" src="<%= URLitem+item4[7]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item5[7]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item6[7]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
								</div>
							</td>
							<td><span class="kill-color"><%= kills[7]%></span> / <span class="death-color"><%= deaths[7] %></span> / <span class="assist-color"><%= assists[7] %></span> </td>
							<td class="sum-name-right"><%= summonerName[7] %> </td>
							<td><img class="champ-icon" src="<%= champIconURL+champName[7]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/> </td>						
						</tr>
						<tr>
							<td><img class="champ-icon" src="<%= champIconURL+champName[3]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/> </td>
							<td class="sum-name-left"><%= summonerName[3] %> </td>
							<td><span class="kill-color"><%= kills[3]%></span> / <span class="death-color"><%= deaths[3] %></span> / <span class="assist-color"><%= assists[3] %></span> </td>
							<td>
								<div>
									<img class="item" src="<%= URLitem+item0[3]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item1[3]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item2[3]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item3[3]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
								</div>
								<div>
									<img class="item" src="<%= URLitem+item4[3]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item5[3]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item6[3]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
								</div>
							</td>
							<td></td>
							<td>
								<div>
									<img class="item" src="<%= URLitem+item0[8]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item1[8]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item2[8]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item3[8]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
								</div>
								<div>
									<img class="item" src="<%= URLitem+item4[8]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item5[8]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item6[8]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
								</div>
							</td>
							<td><span class="kill-color"><%= kills[8]%></span> / <span class="death-color"><%= deaths[8] %></span> / <span class="assist-color"><%= assists[8] %></span> </td>
							<td class="sum-name-right"><%= summonerName[8] %> </td>
							<td><img class="champ-icon" src="<%= champIconURL+champName[8]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/> </td>						
						</tr>
						<tr>
							<td><img class="champ-icon" src="<%= champIconURL+champName[4]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/> </td>
							<td class="sum-name-left"><%= summonerName[4] %> </td>
							<td><span class="kill-color"><%= kills[4]%></span> / <span class="death-color"><%= deaths[4] %></span> / <span class="assist-color"><%= assists[4] %></span> </td>
							<td>
								<div>
									<img class="item" src="<%= URLitem+item0[4]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item1[4]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item2[4]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item3[4]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
								</div>
								<div>
									<img class="item" src="<%= URLitem+item4[4]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item5[4]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item6[4]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
								</div>
							</td>
							<td></td>
							<td>
								<div>
									<img class="item" src="<%= URLitem+item0[9]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item1[9]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item2[9]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item3[9]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
								</div>
								<div>
									<img class="item" src="<%= URLitem+item4[9]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item5[9]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
									<img class="item" src="<%= URLitem+item6[9]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/>
								</div>
							</td>
							<td><span class="kill-color"><%= kills[9]%></span> / <span class="death-color"><%= deaths[9] %></span> / <span class="assist-color"><%= assists[9] %></span> </td>
							<td class="sum-name-right"><%= summonerName[9] %> </td>
							<td><img class="champ-icon" src="<%= champIconURL+champName[9]+'.png' %>"onerror="this.onerror=null; this.src='/images/default.png'"/> </td>						
						</tr>
					</body>
				</table>
			</div>				
		</div>
	</body>
</html>
