<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css" />
		<title>Riot API</title>
	</head>
	<body>
		<header>
			<nav class="navbar">
				<a href="/" class="main"
					>RIOT <span class="title-color">API</span></a
				>
			</nav>
		</header>
		<h1>Tournament ID</h1>
		<h3><%= "Region: " + reg %></h3>
		<h3><%= "URL: " + urlP %></h3>
		<h3><%= "Provider ID: " + provID %></h3>
		<div class="form">
			<form action="/riot/tournament/codes">
				<input
					class="search-text"
					type="text"
					name="namesearch"
					id="search-bar"
					placeholder="Name"
				/>
				<input
					class="search-text"
					type="text"
					name="provsearch"
					id="search-bar"
					placeholder="Provider ID"
				/>
				<button type="submit" class="btn">SEND</button>
			</form>
		</div>
	</body>
</html>
