<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css" />
		<title>Riot API</title>
	</head>

	<body>
		<header>
			<nav class="navbar">
				<a href="/" class="main"
					>RIOT <span class="title-color">API</span></a
				>
			</nav>
		</header>
		<h1>CODES for the Tournament</h1>
		<h2>Settings</h2>
		<h3><%= "Summoners: " + sumId %></h3>
		<h3><%= "Map: " + map %></h3>
		<h3><%= "Other Settings: " + meta %></h3>
		<h3><%= "Mode: " + pick %></h3>
		<h3><%= "Spectator: " + spec %></h3>
		<h3><%= "Team Size: " + team %></h3>
		<h3><%= "Codes: \n" + code %></h3>
	</body>
</html>
