* {
	padding: 0%;
	margin: 0%;
}

header {
	position: sticky;
	background: rgb(19, 19, 19);
	width: 100%;
	box-shadow: 0px 5px 5px black;
}
.main {
	color: rgb(139, 0, 0);
	height: 60px;
	line-height: 60px;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 43px;
	text-decoration: none;
	font-family: 'Courier New', Courier, monospace;
}

nav {
	width: 100%;
	text-align: center;
}
body {
	color: rgb(218, 218, 218);
	font-family: sans-serif;
	background: rgb(39, 39, 39);
}

body h1 {
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 4.2rem;
	padding-left: 5%;
	padding-right: 5%;
	color: rgb(255, 255, 255);
}
.title {
	margin-top: 60px;
}

body h2 {
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	font-size: 30px;
	color: rgb(255, 255, 255);
	margin-top: 5px;
	margin-bottom: 5px;
}

body h3 {
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 20px;
}

body h3 a {
	text-decoration: none;
	font-weight: lighter;
	color: rgb(255, 255, 255);
}

.container {
	text-align: center;
}
.championIcon {
	margin-top: 20px;
}

.title-main {
	color: rgb(0, 0, 0);
	position: static;
	text-align: center;
	margin: auto;
	padding-top: 6ch;
	font-size: 80px;
}
.title-main-color {
	text-align: center;
	color: rgb(110, 0, 0);
	letter-spacing: 2px;
	font-size: 80px;
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
}
.title-color {
	text-align: center;
	color: rgb(248, 248, 248);
	letter-spacing: 2px;
	font-size: 43px;
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
}
.btn {
	border: 6px solid rgb(102, 18, 18);
	border-radius: 9px;
	background: rgb(102, 18, 18);
	padding-bottom: 5px;
	border-radius: 13px;
	cursor: pointer;
	font-size: 40px;
	transition: 0.4s;
}

.btn:focus {
	outline: none;
}

.btn:active {
	border: 6px solid rgb(105, 35, 35);
	background: rgb(105, 35, 35);
	transition: 0.4s;
}

.btn a {
	color: rgb(214, 214, 214);
	text-decoration: none;
	font-weight: 450;
}
.btn a:active {
	font-weight: 450;
	color: rgb(3, 3, 3);
}
.form-group {
	padding-top: 4ch;
	position: static;
	text-align: center;
	margin: auto;
}
#search-bar {
	margin: auto;
	justify-content: center;
	color: rgb(97, 151, 231);
	background: rgb(34, 34, 34);
	font-weight: bold;
}
.search-text {
	border: none;
	border-radius: 10px;
	outline: none;
	background: none;
	height: 4ch;
	width: 50%;
	font-size: 25px;
	padding-left: 1%;
}

.container {
	text-align: center;
}

.champions {
	border: 3px solid rgb(95, 0, 0);
	border-radius: 9px;
	background: rgb(95, 0, 0);
	padding: 15px 20px;

	border-radius: 9px;
	cursor: pointer;
	font-size: 45px;
	font-family: sans-serif;
	transition: 0.4s;
	margin-top: 70px;
}

.champions:focus {
	outline: none;
}

.champions:active {
	border: 3px solid rgb(95, 0, 0);
	background: rgb(95, 0, 0);
	transition: 0.1s;
}

.champions a {
	color: rgb(214, 214, 214);
	text-decoration: none;
	font-weight: 750;
}
.summoner {
	border: 3px solid rgb(95, 0, 0);
	border-radius: 9px;
	background: rgb(95, 0, 0);
	padding: 15px 20px;

	border-radius: 9px;
	cursor: pointer;
	font-size: 45px;
	font-family: sans-serif;
	transition: 0.4s;
	margin: 18px;
}

.summoner:focus {
	outline: none;
}

.summoner:active {
	border: 3px solid rgb(95, 0, 0);
	background: rgb(95, 0, 0);
	transition: 0.1s;
}

.summoner a {
	color: rgb(214, 214, 214);
	text-decoration: none;
	font-weight: 750;
}

.form {
	position: relative;
	z-index: 1;
	background: #a7a7a7;
	max-width: 360px;
	margin: 100px auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 20px;
}
.form input {
	font-family: 'Roboto', sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form button {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	text-transform: uppercase;
	outline: 0;
	background: rgb(168, 0, 0);
	width: 100%;
	border: 0;
	border-radius: 9px;
	padding: 15px;
	color: #ffffff;
	font-size: 34px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
.form button:active {
	background: rgb(110, 0, 0);
}
.img {
	margin-top: 20px;
	width: 68px;
	height: 68px;
	border-radius: 10px;
}

#table-hist,
th,
td {
	margin: auto;
	border-collapse: collapse;
	margin-bottom: 30%;
	padding: 5px;
	font-size: 1.6ch;
}
thead {
	font-size: 3ch;
}
tbody {
	width: 90%;
	font-size: 1.5ch;
	color: rgb(255, 247, 235);
	background-color: rgb(49, 49, 49);
}

.sum-name-left {
	text-align: left;
}
.sum-name-right {
	text-align: right;
}

.champ-icon {
	width: 48px;
	height: 48px;
	padding: 0%;
	border-radius: 7px;
}

.kill-color {
	color: rgb(0, 145, 75);
	font-weight: bold;
}

.death-color {
	color: rgb(255, 64, 64);
	font-weight: bold;
}

.assist-color {
	color: orange;
	font-weight: bold;
}

.item {
	width: 28px;
	height: 28px;
	border-radius: 6px;
}
.container-match {
	margin-top: 40px;
}
